div.menu {
    margin: auto;
}

.nav-item{
    padding:6px;
    margin: auto;
    opacity: 60%;
}

div.kereso {
    text-align: left;
}

.nav-item:hover {
    opacity: 100%;
}

.navbar {
    border: auto;
    background-color: none;
    margin: auto;
}

.navbar-brand {
    font-weight: bolder;
    width: 8em;
}

.navbar-fixed-top {
	min-height: 70px;
}

.navbar-social {
    margin-left: 6px;
    margin-right: 6px;
    padding: 10px;
}

.navbar-social:hover {
    background-color:red;
    border: 0px;
    border-radius: 10%;
    opacity: 75%;
}

.nav-item {
    margin: auto;
    list-style: none;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.kereso {
    margin: auto;
    float: left;
    position: relative;
    margin-right: 0px;
}

.dropdown-menu {
    width: auto;
    height: auto;
    margin: auto;
    border: 10em;
    border-radius: 6px;
}


.form-control {
        border: 1px;
        border-radius: 10px;
        margin-right: 10px;
}

.navbar-nav > li > a {
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 70px;
}
.horizontal {
	display: table;
	table-layout: fixed;
}
.section {
	padding-top: 70px;
	display: table-cell;
	min-width: 320px;
	height: 100%;
	text-align: center;
}