<nav class="navbar navbar-expand-md bg-primary navbar-dark fixed-top">
    <!-- <a class="navbar-brand" href="#">Logo </a> -->
    <a class="navbar-brand" href="/"> <img class="logo" src="\assets\km.png" width="60" height="60" class="d-inline-block align-top" alt="km.jpg" title="km"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/kezdolap">Kezdőlap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/szolgaltatasok">Szolgáltatások</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/arak">Árak</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/kapcsolat">Kapcsolat</a>
        </li>
      </ul>
      <form class="kereso d-flex">
        <a class="navbar-social" href="/"> <img class="logo" src="\assets\facebook.svg" width="20" height="20" class="d-inline-block align-top" alt="km.jpg" title="km"></a>
        <a class="navbar-social" href="/"> <img class="logo" src="\assets\instagram.svg" width="20" height="20" class="d-inline-block align-top" alt="km.jpg" title="km"></a>
        <a class="navbar-social" href="/"> <img class="logo" src="\assets\github.svg" width="20" height="20" class="d-inline-block align-top" alt="km.jpg" title="km"></a>
        <input class="form-control me-2" type="search" placeholder="Ezt keresem..." aria-label="Keresés">
        <button class="btn btn-danger" type="submit">Keresés</button>
      </form>
    </div>
  </nav>
  