<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="owl-carousel">
                <div class="product-card">
                    <div class="product-badge text-danger">23% Off</div><a class="product-thumb" href="#" data-abc="true"><img src="https://i.imgur.com/nXgI5iT.png" alt="Product"></a>
                    <h3 class="product-title"><a href="#" data-abc="true">Microsoft Surface Pro 4</a></h3>
                    <h4 class="product-price"> <del>$444.99</del>$344.99 </h4>
                    <div class="product-buttons"> <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="fa fa-heart"></i></button> <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button> </div>
                </div>
                <div class="product-card">
                    <div class="product-badge text-danger">25% Off</div><a class="product-thumb" href="#" data-abc="true"><img src="https://i.imgur.com/ILEU18M.jpg" alt="Product"></a>
                    <h3 class="product-title"><a href="#" data-abc="true">Dell Inspiration 4</a></h3>
                    <h4 class="product-price"> <del>$544.99</del>$444.99 </h4>
                    <div class="product-buttons"> <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="fa fa-heart"></i></button> <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button> </div>
                </div>
                <div class="product-card">
                    <div class="product-badge text-danger">28% Off</div><a class="product-thumb" href="#" data-abc="true"><img src="https://i.imgur.com/2kePJmX.jpg" alt="Product"></a>
                    <h3 class="product-title"><a href="#" data-abc="true">Dell Xtreame 5</a></h3>
                    <h4 class="product-price"> <del>$244.99</del>$144.99 </h4>
                    <div class="product-buttons"> <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="fa fa-heart"></i></button> <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button> </div>
                </div>
                <div class="product-card">
                    <div class="product-badge text-danger">48% Off</div><a class="product-thumb" href="" data-abc="true"><img src="https://i.imgur.com/yugQN69.jpg" alt="Product"></a>
                    <h3 class="product-title"><a href="" data-abc="true">HP Pro 4</a></h3>
                    <h4 class="product-price"> <del>$544.99</del>$344.99 </h4>
                    <div class="product-buttons"> <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="fa fa-heart"></i></button> <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button> </div>
                </div>
                <div class="product-card">
                    <div class="product-badge text-danger">29% Off</div><a class="product-thumb" href="#" data-abc="true"><img src="https://i.imgur.com/JOpmFkw.png" alt="Product"></a>
                    <h3 class="product-title"><a href="#" data-abc="true">Microsoft surface 5</a></h3>
                    <h4 class="product-price"> <del>$644.99</del>$344.99 </h4>
                    <div class="product-buttons"> <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="fa fa-heart"></i></button> <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button> </div>
                </div>
                <div class="product-card">
                    <div class="product-badge text-danger">28% Off</div><a class="product-thumb" href="#" data-abc="true"><img src="https://i.imgur.com/O02Owsf.jpg" alt="Product"></a>
                    <h3 class="product-title"><a href="#" data-abc="true">HP Elitebook 840</a></h3>
                    <h4 class="product-price"> <del>$844.99</del>$644.99 </h4>
                    <div class="product-buttons"> <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist"><i class="fa fa-heart"></i></button> <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!">Add to Cart</button> </div>
                </div>
            </div>
        </div>
    </div>
</div>